# Exclusions générales  
.*.swp 
.#* 
*~ 
#*# 
~$*.* 
 
# Exclusions MacOS 
.DS_Store 
.DS_Store? 
._* 
.Trashes 

# Haskell
.stack/
.stack-work/
stack.yaml.lock

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
